.App {
  /* width: 500px */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.align-center {
  text-align: center;
}

.headerImg {
  margin-top: 15px;
  width: 100%;
  height: 70PX;
}

.opening-box {
  margin: 0 0 20px !important;
}

.dashboard-card {
  margin: 20px;
  width: 20%;
  display: inline-block;
  cursor: pointer;
}

.total-jobs {
  background-color: lightcoral !important;
  color: white !important;
}

.frontend-jobs {
  background-color: lightgreen !important;
  color: white !important;
}

.backend-jobs {
  background-color: lightsteelblue !important;
  color: white !important;
}

.qa-jobs {
  background-color: bisque !important;
  color: white !important;
}

.admin-jobs {
  background-color: dimgrey !important;
  color: white !important;
}

.MuiFormHelperText-contained {
  margin: 8px 0 0 0 !important;
}

.disabled {
  background: #cecece !important;
  color: #585858 !important;
}

.MUIRichTextEditor-root-381 {
  border: 1px solid grey;
}